extends layout

block content
  p Enter a github username to search

  form(method='POST' action='/users')
    div.form-group
      label(for='username')
      input#screen_name.form-control(type='text', placeholder='Github Username' name='username')
      input#search_button.form-control(type='submit', value='Search')

  append users
