extends layout

block index

  form#search_form(method='POST' action='/users')
    label(for='username')
    input#screen_name.form-control(type='text', placeholder='Github Username' name='username')
    input#search_button.form-control(type='submit', value='Search')

  append users
