doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' href='/javascripts/load_more.js')
  body
    h1 Shipt App
    block content
    block users
  
