doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two")
    script(type='text/javascript' href='/javascripts/helper.js')
  body
    h1.main-title Shipt Coding Challenge
    block index
    block users
    block error

